@import "tailwindcss";

@theme {
  --color-primary: #fff8f0;
  --color-secondary: #8b6914;
  --color-tertiary: #d1681d;
  --color-red: #ff4d4f;
  --color-purple-300: #c4b5fd;
  --color-purple-500: #a855f7;
  --color-green-300: #86efac;
  --color-green-600: #15803d;
  --color-gray-300: #d1d5db;
  --color-gray-800: #1f2937;
}

body {
  background-color: #f2ddc4;
}

* {
  box-sizing: border-box;
}
